/*
  STYLING FOR THE HOME PAGE
  Default styling for home page elements 
*/

.page-container {
	min-height: 100%;
  	position: relative;
}

/*
  Header styling elements
  Reference for fixed to top scrolling header: http://cssreset.com/creating-fixed-headers-with-css/
*/
.header-container {
	position: fixed;
	top: 0;
	height: 10rem; /*Height of the header*/
	width: 100%;
	background-color: blue;
}

/*Body styling elements*/
.body-container {
	height: 100rem;
	margin-top: 10rem; /*Height of the header*/
	padding-bottom: 20rem; /*Height of the footer*/
	background-color: orange;
}

/*
  Footer styling elements
  Reference for locked to bottom footer: http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page		
*/
.footer-container {
	position: absolute;
	bottom: 0;
	height: 10rem; /*Height of the footer*/
	width: 100%;
	background-color: grey;
}

.cate-image {
	margin: auto;
}

.cate-header {
	font-size: 2rem;
	font-weight: bold;
}

.cate-sub-header {
	font-size: 1.75rem;
	font-weight: normal;
}