/*
  STYLING FOR THE CRATE LIST PAGES
  Default styling for crate list page elements 
*/

.body-container {
	position: relative;
}

/*
Images for the Geek/Gaming category: http://boxes.mysubscriptionaddiction.com/subscription_boxes_for/geek
*/

.category-container {
	margin-top: 2rem;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	text-decoration: none;
}