/*
  STYLING FOR THE CRATE LIST PAGES
  Default styling for crate list page elements 
*/

.body-container {
	position: relative;
}

.category-container {
	margin-top: 2rem;
	display: inline-block;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
}

/* keeping footer at bottom of page learned from: 
http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page; */