/*
  STYLING FOR THE HOME PAGE
  Default styling for home page elements 
*/

img {
	height: auto; 
	max-width: 66%;
}

.img-home {
	height: auto; 
	max-width: 100%;
}

.img-featured {
	height: auto; 
	max-width: 100%;
}

.img-banner {
	height: 15rem;
	width: 100%;
	max-width: 100%;
}

.feature-container-text {
	margin-left: 2rem;
}

.about-container {
	margin-top: 2rem;
	background-color: white;
}

.about-container-text {
	margin-left: 2rem;
	color: black;
}

@media (min-width: 73em) {
	.img-home {
		height: auto; 
		max-width: 90%;
	}

	.feature-container-text {
		margin-left: 0;
	}
}

/*
  Header styling elements
  Reference for fixed to top scrolling header: http://cssreset.com/creating-fixed-headers-with-css/
*/
.header-container {
	position: fixed;
	top: 0;
	height: 5rem; /*Height of the header*/
	width: 100%;
	z-index: 1;
}

.main-nav-container {
	background-size: 100px 100px;
	width:100%;
	height:100%;
	background-image: url("../img/Dark-Wood-Panels.jpg");
	text-align: center;
}

.header-link-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

.header-links {
	margin: 0;
	padding-top: 1.5rem;
}

.main-nav-header {
	position: relative;
	margin-left: 5rem;
	color: white;
	text-decoration: none;
}

.main-nav-header-left {
	position: relative;
	color: white;
	text-decoration: none;
}


.main-nav-header:hover, .main-nav-header:focus {
	text-decoration: underline;
}

.main-nav-header-left:hover, .main-nav-header-left:focus {
	text-decoration: underline;
}

/*Body styling elements*/
.page-container {
	min-height: 100%;
  	position: relative;
  	color: white;
}

.body-container {
	height: 100%;
	padding: 0 10%;
	margin-top: 5rem; /*Height of the header*/
	padding-bottom: 10rem; /*Height of the footer*/
	background-color: #6c614f;
}

/*
  Footer styling elements
  Reference for locked to bottom footer: http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page		
*/
.footer-container {
	position: absolute;
	bottom: 0;
	height: 5rem; /*Height of the footer*/
	width: 100%;
	background-color: grey;
}

.main-footer-nav-container {
	width:100%;
	text-align: center;
}

.footer-content-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

.footer-content {
	margin-top: 1.5rem;
}

.footer-text {
	position: relative;
	color: white;
	text-decoration: none;
	margin-right: 0.5rem;
	vertical-align: middle;
	display: inline;
}

.footer-icon {
	height: 2rem;
	width: 2rem;
	margin: 0 0.5rem;
	vertical-align: middle;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.main-nav-header-example {
	color: white;
	padding: 1rem;
	text-decoration: none;
	background-size: 30px 30px;
	background-image: url("../img/Dark-Wood-Panels.jpg");
}

.main-nav-header-example:hover, .main-nav-header-example:focus {
	text-decoration: underline;
}

.basic-button {
	color: white;
	background-color: #d2722d;
	padding: 1rem 1.5rem;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.basic-button:hover, .basic-button:focus {
	background-color: #af5c20;
} 

.basic-button2 {
	color: white;
	background-color: #464646;
	padding: 1rem 1.5rem;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.basic-button2:hover, .basic-button2:focus {
	background-color: black;
} 




/* 
  TEXT ELEMENTS -------------------
*/
body {
	font-family: "Arial", arial, serif;
}

h1 {
	font-family: "Arial", arial, serif;
	font-weight: bold;
	font-size: 2rem;
}

h2 {
	font-family: "Arial", helvetica, serif;
	font-weight: normal;
	font-size: 1.75rem;
}

h3 {
	font-family: "Arial", helvetica, serif;
	font-weight: bold;
	font-size: 1.25rem;
}

h4 {
	font-family: "Arial", arial, serif;
	font-weight: bold;
}

p {
	font-family: "Arial", arial, serif;
	font-weight: normal;
}

.explanation-text {
	color: grey;
	display: inline;
}

.text-content {
	color: black;
	display: inline;
}

.wireframe {
	margin: 1rem;
}

.text-spacer {
	vertical-align: top;
	display: inline-block;
	width: 18%;
}

.text-spacer-small {
	vertical-align: top;
	display: inline-block;
	width: 32%;
}

.text-spacer-medium {
	vertical-align: top;
	display: inline-block;
	width: 48%;
}

.text-spacer-code {
	vertical-align: top;
	display: inline-block;
	width: 60%;
}

/* 
  COMBINED ELEMENTS -------------------
*/
.text-spacer-large {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	position: relative;
}

.text-spacer-image {
	vertical-align: top;
	display: inline;
	width: 100%;
	position: relative;
}

.bottom-align {
	position: absolute;
	bottom: 0;
	margin-bottom: 1.5rem;
}